<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="Generator.Metadata" #>
namespace <#= _module.GetDtoNamespace(_model) #>;

public record <#= _model.GetDtoByIdClassName() #>(<#= _model.IdentifierType #> Id) : IQuery<<#= _model.GetDtoName() #>>;